<div class="card card-custom">
    <!--start : header-->
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label text-capitalize">
                {{ 'disclosure.to-submit-your-consent-add-your-e-signature' | translate }}
            </h3>
        </div>
    </div>
    <!--end : header-->

    <!--start : content-->
    <div class="card-body">
        <div class="d-flex  flex-column justify-content-center">

            <div>
                <img class="profile-img" src="/assets/img/profiles/l-1.jpg" alt="">
            </div>

        </div>

        <!--start : button-->
        <div class="card-toolbar d-flex justify-content-end">
            <div class="btn-group">
                <button (click)="onNext()" type="submit" class="btn btn-primary font-weight-bolder">
                    <i class="ki ki-check icon-sm"></i>
                    {{ 'disclosure.next' | translate}}
                </button>
            </div>
        </div>
        <!--end : button-->
    </div>
    <!--end : content-->
</div>