@import "./../../../../../../../assets/css/sass/card.scss";

app-digital-signature {
    .profile-img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
    }
}
