    <!-- begin: control section -->
    <!-- notes:
      image outerline => 'image-input-outline'
      circular image => 'image-input-circle'
      if no image selected => 'image-input-empty'
     -->
    <div  class="image-input" [ngClass]="{ 
        'image-input-outline': field?.templateOptions?.outlineControl, 
        'image-input-circle': field?.templateOptions?.roundedControl
       }">

       <div class="image-input-wrapper"  [style.background-image]="'url('+ './assets/img/user/default.jpg' + ')'"></div>

        <!-- begin: control section -->
        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change"
            container="body" triggers="manual"
            >
            <!-- begin: edit icon -->
            <i class="simple-icon-bell"></i>
            <!-- end: edit icon -->

            <!-- begin: hidden input tag -->
            <input [id]="field?.key" type="file" #fileInput name="profile_avatar"
                 accept="{{ field?.fileOptions?.accepts || 'image/*' }}" />
            <input type="hidden" name="profile_avatar_remove" />
            <!-- end: hidden input tag -->

        </label>
        <!-- end: control section -->

        <!-- begin: remove icon section -->
        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove"
           >
            <i class="simple-icon-bell"></i>
        </span>
        <!-- end: remove icon section -->

    </div>
    <div class="d-block ml-3" *ngIf="field?.templateOptions?.viewDownload">
        <a  target="_blank">
            View
        </a>
    </div>
    <!-- begin: display error message -->
    <div  class="invalid-feedback d-block"><a href="javascript:void(0);"
           triggers="manual"
    ></a>
    </div>
    <!-- end: display error message -->