<div class="card card-custom">
    <!--start : header-->
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label text-capitalize">
                {{ 'disclosure.disclosure-title' | translate }}
            </h3>
        </div>

        <div class="card-toolbar">
            <a>
                <i class="simple-icon-arrow-down"></i>
            </a>
        </div>
    </div>
    <!--end : header-->

    <!--start : content-->
    <div class="card-body">
        <div class="row">

            <div [innerHtml]="authoriseDetail.authoriseText">
            </div>
        </div>

        <!--start : button-->
        <div class="card-toolbar d-flex justify-content-end">
            <div class="btn-group">
                <button (click)="onAuthoriseClick()" type="submit" class="btn btn-primary font-weight-bolder">
                    <i class="ki ki-check icon-sm"></i>
                    {{ 'disclosure.authorise' | translate}}
                </button>
            </div>
        </div>
        <!--end : button-->
    </div>
    <!--end : content-->
</div>