<div class="card card-custom">
    <!--start : header-->
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label text-capitalize">
                {{ 'disclosure.to-continue-add-photograph' | translate }}
            </h3>
        </div>
    </div>
    <!--end : header-->

    <!--start : content-->
    <div class="card-body">
        <div class="d-flex  flex-column justify-content-center">

            <app-image-upload class="text-center"></app-image-upload>

            <div class="mt-5">
                <h4>
                    {{ 'disclosure.quick-tip-title' | translate }}
                </h4>
                <div>
                    <accordion class="detail-tabs" [closeOthers]="true" [isAnimated]="true">
                        <accordion-group heading="{{list?.question | translate}}" [isOpen]="i === 0 ? true : false"
                            *ngFor="let list of tipList; let i = index;">
                            <p class="mb-0">
                                {{list?.answer}}
                            </p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>

        <!--start : button-->
        <div class="card-toolbar d-flex justify-content-end">
            <div class="btn-group">
                <button (click)="onNext()" type="submit" class="btn btn-primary font-weight-bolder">
                    <i class="ki ki-check icon-sm"></i>
                    {{ 'disclosure.next' | translate}}
                </button>
            </div>
        </div>
        <!--end : button-->
    </div>
    <!--end : content-->
</div>